.photo-grid {
    width: 95%;
    min-width: 928px;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 0 92px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
  }

  @media screen and (max-width: 1279px) {
    .photo-grid {
      width: 90%;
      gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
      min-width: 720px;
      max-width: 928px;
      gap: 16px;
      padding: 0 0 88px 0;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
      min-width: 288px;
      max-width: 720px;
      gap: 12px;
      padding: 0 0 64px 0;
    }
}