.place__main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 320px) {
    .place__main-text {
        width: 90%;
        padding: 32px 0 0 16px;
    }
}
