.footer__row_content-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

@media screen and (max-width: 688px) {
    .footer__row_content-nav {
        flex-direction: column;
    }
}
