.intro {
    max-width: 690px;
    padding: 0 0 92px 148px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {
    .intro {
        padding: 0 0 92px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        min-width: 320px;
        max-width: 720px;
        padding: 0 0 88px 0;
        margin: 0 auto;
    }
}
@media screen and (max-width: 767px) {
    .intro {
        width: 90%;
        min-width: 288px;
        max-width: 720px;
        padding: 0 0 64px 0;
    }
}